@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

@media (max-width:768px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

body {
  margin: 0;
  background-color: #f5f5f5;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.favButton {
  justify-content: center;
  margin-top: 1vw;
  background-color: #000080e4;
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
  color: #fcf7fc;
  font-size: 16px;
  font-weight: bold;
  transition: transform 0.3s ease, background-color 0.3s ease;
  border-radius: 5px;
}

h1 {
  text-align: center;
  padding: 2rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: #b50909;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

nav {
  display: flex;
  width: 80vw;
  padding: 1rem;
  font-size: 1.2 vw;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  width: 20vw;
  top: -0.3vw;
  right: 10vw;
  height: 4vw;
  font-weight: 400;
  font-size: 1 vw;
  cursor: "pointer";
  gap: 1 rem;
}

.nabvarDh {
  display: flex;
  position: absolute;
  font-size: 25px;
  margin-left: 10vw;
  position: relative;
  color: #000080;
  align-items: center;
}


nav button {
  background-color: transparent;
  position: relative;
  border: none;
  height: fit-content;
  width: fit-content;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 50%;
  padding: 5 px;
  border: 1px solid #b50909;
  top: 3px;
  margin-left: 1rem;
  transition: transform 0.3s;
  transform: scale(1.2);
  filter: brightness(1.3);
}


a {
  color: #000;
  text-decoration: none;
  margin: 0 1rem;
  cursor: pointer;

}

#social-icons {
  position: static;
  background-color: transparent;
  width: 25px;
  filter: invert(1);
  margin: 0;
  padding: 0;
  border: none;
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 90%;
  height: auto;
  margin-top: 0;
}


form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 1rem;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dentist-info {
  text-align: center;
  margin-top: 2vw;
}


.card button:hover {
  background-color: #0b3c8a;
  cursor: pointer;
  transform: scale(1.1);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 100, 231, 0.5);
  border: 0.5px solid rgba(0, 100, 231, 0.375);
}

.card-grid {
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #f5f0f000;
  margin-top: 10vw;
  background-color: #ffffff;
  color: #333333;
  transition: background-color 0.3s ease, color 0.3s ease;

}

td,
th {
  border: 1px solid #b5b5b5;
  text-align: left;
  padding: 8px;
  font-family: 'Roboto', sans-serif;

}

tr:nth-child(even) {

  background-color: #f9f9f9;

}

tr:nth-child(odd) {
  background-color: #ffffff;

}

th {
  background-color: #b50909da;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

tr:hover {
  background-color: #f5c2c2;
}

section {
  background-color: #b50909e9;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  position: absolute;
  height: 4vw;
  width: 100%;
  margin: 0 auto;
  top: 0vw;
  font-family: 'roboto';
}

.dark {
  background-color: #2a2a2a !important;
  color: #f0f0f0 !important;
}

.dark a {
  color: white;
}

.dark section {
  background-color: #12121296 !important;
  color: white !important;
}